

body {
    font-size: 40px;
    font-family: Georgia, serif;
}
h1 {
    font-size: 50px;
}
h1 {
    text-shadow: 5px 5px 0 rgba(255, 0, 0, 0.14);
}

h5 {
    text-underline-position: below right 15px;
}

pre {
    padding: 12px;
    font-size: 14px;
    line-height: 20px;
    background: #f5f5ff;
    border: 1px solid #cccccc;
    border-radius: 3px;
}
em {
    color: #618ad2;
    border: 5px solid #cccccc;
    border-radius: 5px;
}
blockquote {
    margin: 1.5em 0;
    padding: 0.5em 15px;
    line-height: 1.5;
    background: #f9f9f9;
    border-left: 2px solid #ccc;
    border: 5px solid #f53333;
}

.photo {
    display: block;
    width: 300px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 2 2 5px #666;
}