body {
    width: 260px;
    margin: 0;
    padding: 0 20px;
    font-family: "Arial", sans-serif;
    font-size: 12px;
    line-height: 1.4;
    color: black;
    
}


h1
{
    padding: 5px 5px;
    font-style: oblique;
    background: #00ff90;
    margin-top:1.0em;
    border-left: 6px solid #ccc;
     margin: 0.5em;
    
}
h2
{
    margin-bottom: 1.0em;
}
h4
{
    margin-top: 1.0em;
}
p
{
     background: #ccc;
    padding: 5px 5px;
    font-size: 1.5em;
    font-style: inherit,initial;
}
